body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0em;
}

.centered {
	text-align: center;
}


.landing {
	background: grey;
	background-image: url("../images/bg-nyc.png");
	background-position: center;
	color: white;
	height: 100vh;
	position: relative;

	.title {
		font-size: 5em;
		font-weight: 900;
		margin-top: 2em;
	}

	.logo {
		height: 26px;
		left: 0em;
		position: absolute;
		top: 2em;
		width: 120px;
	}
}


.transportation-categories {
	background: white;
	border-bottom: 1px solid lightgrey;
	height: 100vh;

	.internal-navbar {
		margin-left: 4em;
		margin-top: 0.5em;

		ul {

			li {
				display: inline-block;
				padding-right: 1em;

				.more-to-come {
					font-weight: bold;
					height: 10px;
					margin-left: 1em;
					width: 10px;
				}

				&:last-child {
					border-bottom: 2px solid rgb(21,175,233);
					.more-to-come {
						display: none;
					}
				}
			}
		}
	}

	.categories-heading {
		margin-top: 6em;
	}

	.categories {
		text-align: center;
		margin-bottom: 6em;
		margin-top: 4em;

		li {
			display: inline-block;
			padding-right: 1em;

			div {
				border: 2px solid lightgrey;
				border-radius: 4px;
				height: 175px;
				margin-bottom: 2em;
				position: relative;
				width: 175px;

				img {
					margin: 25% auto;
					height: 40%;
					width: 40%;
				}

				span {
					background: rgb(21,175,233);
					border-radius: 20px;
					bottom: -1em;
					color: white;
					left: 10%;
					font-size: 1em;
					padding: 0.25em;
					position: absolute;
					width: 80%;
				}
			}
		}
	}
}


.airports {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 2em;

	.airports-header {
		margin-bottom: 6em;
		margin-top: 12em;
		position: relative;

		img {
			max-height: 100px;
			max-width: 100px;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin: 0 auto; 

			&:after {
			 background: rgb(21,175,233); 
			 bottom: -0.5em;
			 content:''; 
 			 height: 4px; 
			 position: absolute; 
			 left: 48%;
			 width: 1em; 
			}
		}
	}

	.figure {
		background: white;
	}

	.img-container {
		background: white;
	}
}


.cabs {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 2em;

	.cabs-header {
		margin-bottom: 6em;
		margin-top: 12em;

		img {
			max-height: 50px;
			max-width: 50px;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin: 0 auto; 

			&:after {
			 background: rgb(21,175,233); 
			 bottom: -0.5em;
			 content:''; 
 			 height: 4px; 
			 position: absolute; 
			 left: 48%;
			 width: 1em; 
			}
		}
	}

}


.subways {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 6em;

	.subways-header {
		margin-bottom: 6em;
		margin-top: 12em;
		position: relative;

		img {
			max-height: 50px;
			max-width: 50px;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin: 0 auto; 

			&:after {
			 background: rgb(21,175,233); 
			 bottom: -0.5em;
			 content:''; 
 			 height: 4px; 
			 position: absolute; 
			 left: 48%;
			 width: 1em; 
			}
		}
	}

	.figure {
		background: white;
	}

	.img-container {
		background: white;
	}

	.how-to-ride-subway-header {
		margin-top: 3em;
		margin-bottom: 2em;
	}
}

footer {
	background: white;
	padding: 6em 0;

	.zebra-disclaimer {
		li {
			padding: 1em 0;

			&:first-child {
				padding-bottom: 4em;
			}
		}
	}
}


@media only screen and (max-width : 480px) {
	.landing {
		.title {
			margin-bottom: 1em;
			margin-top: 4em;
			font-size: 1.5em;
		}
	}
}









