body {
	// color: white;
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
	padding-left: 0em;
}

.centered {
	text-align: center;
}


.landing {
	background: grey;
	background-image: url("../images/bg-nyc.png");
	background-position: center;
	color: white;
	height: 100vh;
	position: relative;

	.title {
		font-size: 5em;
		font-weight: 900;
		margin-top: 2em;
	}

	.logo {
		height: 26px;
		left: 0em;
		position: absolute;
		top: 2em;
		width: 120px;
	}
}


.transportation-categories {
	background: white;
	border-bottom: 1px solid lightgrey;
	height: 100vh;

	.categories {
		text-align: center;

		li {
			display: inline-block;

			div {
				border: 2px solid lightgrey;
				border-radius: 4px;
				height: 150px;
				position: relative;
				width: 150px;

				img {
					// display: block;
					margin: 25% auto;
					// height: 100px;
					// position: absolute;
					// width: 100px;
					// left: 25%;
					max-height: 100px;
					max-width: 100px;
					// top: 25%;
				}
			}
		}
	}
}


.airports {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 2em;

	.airports-header {
		// text-align: center;
		margin-bottom: 6em;
		margin-top: 12em;

		img {
			max-height: 100px;
			max-width: 100px;
			margin: 0 auto;
		}
		h1 {
			// max-width: 150px;
			text-align: center;
			margin: 0 auto; 
		}
	}

	.figure {
		background: white;
	}

	.img-container {
		background: white;


		img {

		}
	}
}


.cabs {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 2em;

	.cabs-header {
		// text-align: center;
		margin-bottom: 6em;
		margin-top: 12em;

		img {
			max-height: 50px;
			max-width: 50px;
			margin: 0 auto;
		}
		h1 {
			// max-width: 150px;
			text-align: center;
			margin: 0 auto; 
		}
	}

}


.subways {
	background: white;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 6em;

	.subways-header {
		// text-align: center;
		margin-bottom: 6em;
		margin-top: 12em;

		img {
			max-height: 50px;
			max-width: 50px;
			margin: 0 auto;
		}
		h1 {
			// max-width: 150px;
			text-align: center;
			margin: 0 auto; 
		}
	}

	.figure {
		background: white;
	}

	.img-container {
		background: white;


		img {

		}
	}

	.how-to-ride-subway-header {
		margin-top: 3em;
		margin-bottom: 2em;
	}
}

footer {
	background: white;
	padding-bottom: 4em;
	padding-top: 4em;
}












