body {
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding-left: 0em; }

.centered {
  text-align: center; }

.landing {
  background: grey;
  background-image: url("../images/bg-nyc.png");
  background-position: center;
  color: white;
  height: 100%;
  position: relative; }
  .landing .title {
    font-size: 5em;
    font-weight: 900;
    margin-top: 2em; }
  .landing .logo {
    height: 26px;
    left: 0em;
    position: absolute;
    top: 2em;
    width: 120px; }

.transportation-categories {
  background: white;
  border-bottom: 1px solid lightgrey;
  height: 100vh; }
  .transportation-categories .categories-heading {
    margin-top: 6em; }
  .transportation-categories .categories {
    text-align: center;
    margin-bottom: 6em;
    margin-top: 4em; }
    .transportation-categories .categories li {
      display: inline-block;
      padding-right: 1em; }
      .transportation-categories .categories li div {
        border: 2px solid lightgrey;
        border-radius: 4px;
        height: 175px;
        margin-bottom: 2em;
        position: relative;
        width: 175px; }
        .transportation-categories .categories li div img {
          margin: 25% auto;
          height: 40%;
          width: 40%; }
        .transportation-categories .categories li div span {
          background: #15afe9;
          border-radius: 20px;
          bottom: -1em;
          color: white;
          left: 10%;
          font-size: 1em;
          padding: 0.25em;
          position: absolute;
          width: 80%; }

.airports {
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em; }
  .airports .airports-header {
    margin-bottom: 6em;
    margin-top: 12em; }
    .airports .airports-header img {
      max-height: 100px;
      max-width: 100px;
      margin: 0 auto; }
    .airports .airports-header h1 {
      text-align: center;
      margin: 0 auto; }
  .airports .figure {
    background: white; }
  .airports .img-container {
    background: white; }

.cabs {
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em; }
  .cabs .cabs-header {
    margin-bottom: 6em;
    margin-top: 12em; }
    .cabs .cabs-header img {
      max-height: 50px;
      max-width: 50px;
      margin: 0 auto; }
    .cabs .cabs-header h1 {
      text-align: center;
      margin: 0 auto; }

.subways {
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 6em; }
  .subways .subways-header {
    margin-bottom: 6em;
    margin-top: 12em; }
    .subways .subways-header img {
      max-height: 50px;
      max-width: 50px;
      margin: 0 auto; }
    .subways .subways-header h1 {
      text-align: center;
      margin: 0 auto; }
  .subways .figure {
    background: white; }
  .subways .img-container {
    background: white; }
  .subways .how-to-ride-subway-header {
    margin-top: 3em;
    margin-bottom: 2em; }

footer {
  background: white;
  padding-bottom: 4em;
  padding-top: 4em; }
