body {
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style: none;
  padding-left: 0em; }

.centered {
  text-align: center; }

.landing {
  background: grey;
  background-image: url("../images/bg-nyc.png");
  background-position: center;
  height: 100vh; }

.transportation-categories {
  background: white;
  border-bottom: 1px solid lightgrey;
  height: 100vh; }
  .transportation-categories .categories {
    text-align: center; }
    .transportation-categories .categories li {
      display: inline-block; }
      .transportation-categories .categories li div {
        border: 2px solid lightgrey;
        border-radius: 4px;
        height: 150px;
        position: relative;
        width: 150px; }
        .transportation-categories .categories li div img {
          margin: 25% auto;
          max-height: 100px;
          max-width: 100px; }

.airports {
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em; }
  .airports .airports-header {
    margin-bottom: 4em;
    margin-top: 12em; }
    .airports .airports-header img {
      max-height: 100px;
      max-width: 100px;
      margin: 0 auto; }
    .airports .airports-header h1 {
      text-align: center;
      margin: 0 auto; }
  .airports .figure {
    background: white; }
  .airports .img-container {
    background: white; }

.cabs {
  background: white;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 2em; }
  .cabs .cabs-header {
    margin-bottom: 4em;
    margin-top: 12em; }
    .cabs .cabs-header img {
      max-height: 50px;
      max-width: 50px;
      margin: 0 auto; }
    .cabs .cabs-header h1 {
      text-align: center;
      margin: 0 auto; }

.subways {
  background: white;
  height: 100vh; }

footer {
  background: orange;
  height: 50vh; }
